
#myBar {
    width: 10%;
    height: 30px;
    background-color:green;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
    visibility: hidden;
  }

#myBtn {
    position: absolute;
    width: 10%;
    height: 20px;
    top: 50px;


}